
# Neovim temp files
**/undo/
**/spell/*.add.spl
**/shada/

# Тимчасові та кеш-файли Neovim
.repro
.tests
debug
*.log

# Файли конфігурації LazyVim
# lazyvim.json містить стан увімкнених/вимкнених Extras
/lazyvim.json

# Mason: часто ігнорують локальні налаштування інструментів
/.neoconf.json

# Документація (теги)
doc/tags

# ПРИМІТКА про lazy-lock.json: 
# Рекомендується НЕ додавати його в .gitignore. 
# Цей файл фіксує версії плагінів, що забезпечує ідентичну роботу конфігурації на різних ПК.
